quay-secret.yaml
pull-secret.yaml

ssh-privatekey
ssh-privatekey.pub
id_rsa
id_rsa.pub

local.rc
kubeconfig
*.bak


env/envvars
env/extravars
env/extravars.*
!env/extravars.example
project/keys
!project/keys/README.md
project/.ansible
out/**
!out/.gitkeep
artifacts/**
!artifacts/.gitkeep
inventory/**
!inventory/hostsdocs.old
.cache
