#jinja2: lstrip_blocks: "True"
apiVersion: clusterregistry.k8s.io/v1alpha1
kind: Cluster
metadata:
  labels:
    cloud: auto-detect
    name: "{{cluster_name}}"
    vendor: auto-detect
    environment: Dev
  name: "{{cluster_name}}"
spec: {}