#jinja2: lstrip_blocks: "True"
apiVersion: hive.openshift.io/v1
kind: ClusterImageSet
metadata:
  name: imageset
spec:
  releaseImage: quay.io/openshift-release-dev/ocp-release:{{openshift_release_tag}}
