#jinja2: lstrip_blocks: "True"
apiVersion: v1
metadata:
  name: "{{cluster_name}}"
baseDomain: "{{base_domain}}"
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
  platform:
    azure:
      {% if master_instance_size is defined %}   
      type: "{{master_instance_size}}"
      {% endif %}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: "{{worker_replicas}}"
  platform:
    azure:      
      {% if worker_instance_size is defined %}
      type: "{{ worker_instance_size }}"
      {% endif %}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    baseDomainResourceGroupName: {{azure_domain_resource_group}}
    region: "{{cloud_region}}"
pullSecret: "" # skip, hive will inject based on it's secrets