#jinja2: lstrip_blocks: "True"
apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: "{{cluster_name}}-worker"
spec:
  clusterDeploymentRef:
    name: "{{cluster_name}}"
  name: worker
  platform:
    azure:      
      {% if worker_instance_size is defined %}
      type: "{{ worker_instance_size}}"
      {% endif $}
  replicas: "{{worker_replicas}}"