---
ansible_become: no 
ansible_connection: local

# Recommended to put this file inside vault 
# https://docs.ansible.com/ansible/latest/user_guide/playbooks_vault.html

# Hybrid Clouds where the spoke cluster will be provisioned
# Currently only Google Cloud(gcp), Amazon(aws), and Azure(azr) are supported
cloud: <gcp or aws or azr>
base_domain: example.com
cluster_name:
cloud_region: "asia-south1"
zones: 
  - "asia-south1-b"  
