---
ansible_become: no 
ansible_connection: local

# Recommended to put this file inside vault 
# https://docs.ansible.com/ansible/latest/user_guide/playbooks_vault.html

# Hybrid Clouds where the spoke cluster will be provisioned
# Currently only Google Cloud(gcp), Amazon(aws), and Azure(azr) are supported
cloud: <gcp or aws or azr>
base_domain: example.com
cluster_name:
cloud_region: "asia-south1"
zones: 
  - "asia-south1-b"  
# The Kubernetes Cloud Credentials secret to be used with the respective cloud
cloud_credentials_secret:
  # if no namespace, the current namespace is assumed
  namespace: <the namespace of the secret>
  name: <the name of the secret>
# The OpenShift pull secret secret
openshift_pull_secret:
  # if no namespace, the current namespace is assumed
  namespace: <the namespace of the secret>
  name: <the name of the secret>